<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="~/css/style.css" type="text/css" />
	<link rel="stylesheet" href="~/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="~/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="~/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="~/css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>Login</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap py-0">

				<div class="section dark p-0 m-0 h-100 position-absolute"></div>

				<div class="section bg-transparent min-vh-100 p-0 m-0 d-flex">
					<div class="vertical-middle">
						<div class="container py-5">

							<div class="text-center">
								<a asp-area=" " asp-controller="Home" asp-action="Index" class="standard-logo"><img src="~/images/logo-dark.png" alt="Canvas Logo" style="height: 100px;"></a>
							</div>

							@RenderBody();

							<div class="text-center text-muted mt-3"><small>Copyrights &copy; All Rights Reserved by Canvas Inc.</small></div>

						</div>
					</div>
				</div>

			</div>
		</section><!-- #content end -->

	</div><!-- #wrapper end -->
	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="~/js/jquery.js"></script>
	<script src="~/js/plugins.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="~/js/functions.js"></script>
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>