@{
    ViewData["Title"] = "Home Page";
}

<partial name="_slider" />

<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap p-0">
		<div class="section mt-0 footer-stick" style="padding: 10px 0; background-color: #F8FAFB; border-top: 1px solid #E5E5E5;">
			<div class="container clearfix">

				<div class="row clearfix">
					<div class="col-lg-4">
						<div class="app-footer-features"><i class="icon-line2-globe-alt"></i><h5 class="font-body"><a href="#">Free Training</a><span> &amp; 24-hour coverage</span></h5></div>
					</div>
					<div class="col-lg-4">
						<div class="app-footer-features"><i class="icon-line2-notebook"></i><h5 class="font-body"><a href="#">99.99% Uptime</a><span> the last 12 months</span></h5></div>
					</div>
					<div class="col-lg-4">
						<div class="app-footer-features"><i class="icon-line2-lock"></i><h5 class="font-body"><span>Serious about</span> <a href="#">Security</a> <span>&amp;</span> <a href="#">Privacy</a></h5></div>
					</div>
				</div>

			</div>
		</div>
		<div class="clear"></div>

		<div class="section center bg-transparent">
			<div class="container clearfix">
				<h3 class="ls1 fw-normal" style="font-size: 32px;">Experienced &amp; Trusted by <span>50,000+</span> People worldwide</h3>
				<a href="#modal-login" data-lightbox="inline" class="button button-large button-black text-capitalize" style="border-radius: 23px;">Login Now</a>
				<a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="button button-large text-capitalize" style="border-radius: 23px;">Try it Free</a>
			</div>
		</div>

		<div class="clear"></div>

		<div class="container">
			<div id="section-pricing" class="page-section p-0 m-0">
				<h2 class="center font-body">Pricing</h2>
				<div class="pricing-tenure-switcher row align-items-center justify-content-center mb-4" data-container="#pricing-switch">
					<span class="pts-left fw-bold text-muted col-auto">Monthly</span>
					<div class="pts-switcher col-auto">
						<div class="switch">
							<input id="switch-toggle-pricing-tenure" class="switch-toggle switch-toggle-round" type="checkbox">
							<label for="switch-toggle-pricing-tenure" class="mb-0"></label>
						</div>
					</div>
					<span class="pts-right fw-bold text-muted col-auto">Yearly</span>
				</div>

				<div id="pricing-switch" class="pricing row col-mb-30 mb-5">

					<div class="col-lg-4 col-md-6">

						<div class="pricing-box text-center">
							<div class="pricing-title text-uppercase">
								<h3>Starter</h3>
							</div>
							<div class="pricing-price">
								FREE<span class="price-tenure">Limited Access</span>
							</div>
							<div class="pricing-features border-0 bg-transparent">
								<ul>
									<li><strong>Fast</strong> Access</li>
									<li><i class="icon-code"></i> Source Files</li>
									<li><strong>100</strong> Request per day</li>
									<li><strong>1 Year</strong> License</li>
									<li>Phone &amp; Email Support</li>
								</ul>
							</div>
							<div class="pricing-action">
								<a href="#modal-get-started" data-lightbox="inline" data-pricing-plan="Starter Plan" class="button button-large button-rounded text-capitalize ls0" style="border-radius: 23px;">Get Started</a>
							</div>
						</div>

					</div>

					<div class="col-lg-4 col-md-6">

						<div class="pricing-box text-center">
							<div class="pricing-title text-uppercase">
								<h3>Professional</h3>
							</div>
							<div class="pricing-price">
								<div class="pts-switch-content-left"><span class="price-unit">&dollar;</span>3<span class="price-tenure">Monthly</span></div>
								<div class="pts-switch-content-right"><span class="price-unit">&dollar;</span>30<span class="price-tenure">Yearly</span></div>

							</div>
							<div class="pricing-features border-0 bg-transparent">
								<ul>
									<li><strong>Fast</strong> Access</li>
									<li><i class="icon-code"></i> Source Files</li>
									<li><strong>5000</strong> Request Per Day</li>
									<li><strong>2 Years</strong> License</li>
									<li>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
									</li>
								</ul>
							</div>
							<div class="pricing-action">
								<div class="pts-switch-content-left"><a href="#modal-get-started" data-lightbox="inline" data-pricing-plan="Professional Monthly Plan" class="button button-large button-rounded text-capitalize ls0" style="border-radius: 23px;">Start Free Trial</a></div>
							</div>
						</div>

					</div>

					<div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3">

						<div class="pricing-box text-center">
							<div class="pricing-title text-uppercase">
								<h3>Business</h3>
							</div>
							<div class="pricing-price">
								<div class="pts-switch-content-left"><span class="price-unit">&dollar;</span>10<span class="price-tenure">Monthly</span></div>
								<div class="pts-switch-content-right"><span class="price-unit">&dollar;</span>100<span class="price-tenure">Yearly</span></div>
							</div>
							<div class="pricing-features border-0 bg-transparent">
								<ul>
									<li><strong>Fast</strong> Access</li>
									<li><i class="icon-code"></i> Source Files</li>
									<li><strong>10000</strong> Request Per Day</li>
									<li><strong>3 Years</strong> License</li>
									<li>Phone &amp; Email Support</li>
								</ul>
							</div>
							<div class="pricing-action">
								<div class="pts-switch-content-left"><a href="#modal-get-started" data-lightbox="inline" data-pricing-plan="Business Monthly Plan" class="button button-large button-rounded text-capitalize ls0" style="border-radius: 23px;">Start Free Trial</a></div>
							</div>
						</div>

					</div>

				</div>

				<!-- Modal -->
				<div class="modal1 mfp-hide" id="modal-get-started">
					<div class="block mx-auto" style="background-color: #FFF; max-width: 800px;">
						<div class="form-widget p-5" data-loader="button">
							<div class="form-result"></div>
							<form action="#" id="get-started-form" method="post" class="mb-0">

								<div class="row clearfix">
									<div class="col-md-8">
										<h3 class="font-body">Register for an Account</h3>
									</div>
									<div class="col-md-4">
										<div id="modal-get-started-package"></div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6 form-group">
										<label class="font-body text-capitalize" for="get-started-form-username">Choose Username:</label>
										<input type="text" id="get-started-form-username" name="get-started-form-username" value="" class="form-control required no-error-msg" />
									</div>

									<div class="col-md-6 form-group">
										<label class="font-body text-capitalize" for="get-started-form-email">Your Email:</label>
										<input type="email" id="get-started-form-email" name="get-started-form-email" value="" class="form-control required email no-error-msg" />
									</div>

									<div class="w-100"></div>

									<div class="col-md-6 form-group">
										<label class="font-body text-capitalize" for="get-started-form-password">Choose Password:</label>
										<input type="password" id="get-started-form-password" name="get-started-form-password" value="" class="form-control required no-error-msg" />
									</div>

									<div class="col-md-6 form-group">
										<label class="font-body text-capitalize" for="get-started-form-password">Retype Password:</label>
										<input type="password" id="get-started-form-repassword" name="get-started-form-repassword" value="" class="form-control required no-error-msg" />
									</div>

									<!-- Package Selector Hidden Input Value Setter -->
									<input type="hidden" id="get-started-form-package" name="get-started-form-package" value="Free">

									<div class="col-12 form-group">
										<label>
											<input type="checkbox" id="get-started-form-agree" name="get-started-form-agree" value="1" style="position: relative; top: 2px; margin-right: 5px;"> I Agree to the Terms &amp; Conditions
										</label>
									</div>

									<div class="col-12 form-group">
										<button class="button button-rounded m-0" id="get-started-form-submit" name="get-started-form-submit" value="login">Get Started</button>
										<a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="float-end" onClick="$.magnificPopup.close();">Change Plan?</a>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>

			</div>

			<div class="clear"></div>

			<div id="section-faqs" class="page-section p-0 m-0">

				<h2 class="center font-body bottommargin-lg">Frequently Asked Questions</h2>

				<div class="row topmargin-sm clearfix">

					<div class="col-lg-5 offset-lg-1 col-md-6 bottommargin-sm">
						<h4 class="font-body" style="margin-bottom:15px;">How do I become an author?</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi.</p>
					</div>
					<div class="col-lg-5 col-md-6 bottommargin-sm">
						<h4 class="font-body" style="margin-bottom:15px;">Helpful Resources for Authors</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit.</p>
					</div>
					<div class="col-lg-5 offset-lg-1 col-md-6 bottommargin-sm">
						<h4 class="font-body" style="margin-bottom:15px;">How much money can I make?</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae.</p>
					</div>
					<div class="col-lg-5 col-md-6 bottommargin-sm">
						<h4 class="font-body" style="margin-bottom:15px;">Can I offer my items for free on a promotional basis?</h4>
						<p>Laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</p>
					</div>
					<div class="col-lg-5 offset-lg-1 col-md-6 bottommargin-sm">
						<h4 class="font-body" style="margin-bottom:15px;">An Introduction to the Marketplaces for Authors</h4>
						<p>Quisquam atque vero delectus corrupti! Quo, maiores, dolorem, hic commodi nulla ratione accusamus doloribus fuga magnam id temporibus dignissimos deleniti quidem ipsam corporis sapiente nam expedita saepe quas ab? Vero, assumenda.</p>
					</div>
					<div class="col-lg-5 col-md-6">
						<h4 class="font-body" style="margin-bottom:15px;">How does the Tuts+ Premium affiliate program work?</h4>
						<p class="mb-0">Reprehenderit similique nemo voluptate ullam natus illum magnam alias nobis doloremque delectus ipsa dicta repellat maxime dignissimos eveniet quae debitis ratione assumenda tempore officiis fugiat dolor.</p>
					</div>

				</div>

			</div>

		</div>

	</div>
</section><!-- #content end -->
